/****** Object:  Database [PetCareDB]    Script Date: 4/7/2026 2:52:07 PM ******/
CREATE DATABASE [PetCareDB]  
GO
USE PetCareDB;
GO

/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/7/2026 2:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meetings]    Script Date: 4/7/2026 2:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meetings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[PetId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Meetings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pets]    Script Date: 4/7/2026 2:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[Breed] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Discriminator] [nvarchar](3) NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Pets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedPets]    Script Date: 4/7/2026 2:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedPets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PetId] [int] NOT NULL,
 CONSTRAINT [PK_SavedPets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/7/2026 2:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Discriminator] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260403121130_InitialCreate', N'8.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260405122655_AddSavedPets', N'8.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260405131630_AddPetUserIdAndConstraints', N'8.0.25')
GO
SET IDENTITY_INSERT [dbo].[Meetings] ON 

INSERT [dbo].[Meetings] ([Id], [Date], [PetId], [UserId], [Type]) VALUES (3, CAST(N'2026-11-11T00:00:00.0000000' AS DateTime2), 3, 1, 0)
INSERT [dbo].[Meetings] ([Id], [Date], [PetId], [UserId], [Type]) VALUES (19, CAST(N'2026-05-10T00:00:00.0000000' AS DateTime2), 5, 2, 0)
INSERT [dbo].[Meetings] ([Id], [Date], [PetId], [UserId], [Type]) VALUES (20, CAST(N'2026-04-28T00:00:00.0000000' AS DateTime2), 6, 2, 0)
SET IDENTITY_INSERT [dbo].[Meetings] OFF
GO
SET IDENTITY_INSERT [dbo].[Pets] ON 

INSERT [dbo].[Pets] ([Id], [Name], [Age], [Breed], [Status], [ImageUrl], [Discriminator], [UserId]) VALUES (2, N'Bella', 3, N'Pug', 1, N'https://petcarestorage2.blob.core.windows.net/pet-images/photo-1517849845537-4d257902454a.avif', N'Dog', NULL)
INSERT [dbo].[Pets] ([Id], [Name], [Age], [Breed], [Status], [ImageUrl], [Discriminator], [UserId]) VALUES (3, N'Max', 2, N'labrador', 1, N'https://petcarestorage2.blob.core.windows.net/pet-images/photo-1518717758536-85ae29035b6d.avif', N'Dog', NULL)
INSERT [dbo].[Pets] ([Id], [Name], [Age], [Breed], [Status], [ImageUrl], [Discriminator], [UserId]) VALUES (4, N'Luna', 1, N'corgi', 1, N'https://petcarestorage2.blob.core.windows.net/pet-images/photo-1537151608828-ea2b11777ee8.avif', N'Dog', NULL)
SET IDENTITY_INSERT [dbo].[Pets] OFF
GO
SET IDENTITY_INSERT [dbo].[SavedPets] ON 

INSERT [dbo].[SavedPets] ([Id], [UserId], [PetId]) VALUES (74, 2, 3)
INSERT [dbo].[SavedPets] ([Id], [UserId], [PetId]) VALUES (76, 2, 6)
INSERT [dbo].[SavedPets] ([Id], [UserId], [PetId]) VALUES (78, 2, 13)
SET IDENTITY_INSERT [dbo].[SavedPets] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Email], [Discriminator]) VALUES (1, N'hadi', N'123', N'hadi@gmail.com', N'Client')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Email], [Discriminator]) VALUES (2, N'ramtin', N'123', N'ramtin@gmail.com', N'Client')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Email], [Discriminator]) VALUES (3, N'myname', N'kk2233', N'myname@gmail.com', N'Client')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Meetings_PetId]    Script Date: 4/7/2026 2:52:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Meetings_PetId] ON [dbo].[Meetings]
(
	[PetId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Meetings_UserId]    Script Date: 4/7/2026 2:52:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Meetings_UserId] ON [dbo].[Meetings]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SavedPets_PetId]    Script Date: 4/7/2026 2:52:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_SavedPets_PetId] ON [dbo].[SavedPets]
(
	[PetId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SavedPets_UserId_PetId]    Script Date: 4/7/2026 2:52:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SavedPets_UserId_PetId] ON [dbo].[SavedPets]
(
	[UserId] ASC,
	[PetId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Meetings]  WITH CHECK ADD  CONSTRAINT [FK_Meetings_Pets_PetId] FOREIGN KEY([PetId])
REFERENCES [dbo].[Pets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meetings] CHECK CONSTRAINT [FK_Meetings_Pets_PetId]
GO
ALTER TABLE [dbo].[Meetings]  WITH CHECK ADD  CONSTRAINT [FK_Meetings_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meetings] CHECK CONSTRAINT [FK_Meetings_Users_UserId]
GO
ALTER TABLE [dbo].[SavedPets]  WITH CHECK ADD  CONSTRAINT [FK_SavedPets_Pets_PetId] FOREIGN KEY([PetId])
REFERENCES [dbo].[Pets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SavedPets] CHECK CONSTRAINT [FK_SavedPets_Pets_PetId]
GO
ALTER TABLE [dbo].[SavedPets]  WITH CHECK ADD  CONSTRAINT [FK_SavedPets_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SavedPets] CHECK CONSTRAINT [FK_SavedPets_Users_UserId]
GO
